In [0]:
primes = [2, 3, 5, 7, 11]
print(type(primes))

<class 'list'>

In [0]:
primes = (2, 3, 5, 7, 11)
print(type(primes))

<class 'tuple'>

In [0]:
print(primes[0])
print(primes[1])
print(primes[-1])
print(primes[-2])

2
3
11
7

In [0]:
print(primes[::2])

(2, 5, 11)

In [0]:
primes_list = [2, 3, 5, 7, 11]
primes_list[-1] = 13 # update
print(primes_list)

[2, 3, 5, 7, 13]

In [0]:
print(len(primes_list))

5

In [0]:
primes_list.insert(-1, 11) # increase length
print(primes_list)

[2, 3, 5, 7, 11, 13]

In [0]:
primes_list.pop()
print(primes_list)

[2, 3, 5, 7, 11]

In [0]:
print(primes)
print(type(primes))

(2, 3, 5, 7, 11)
<class 'tuple'>

In [0]:
primes[-1] = 13

TypeError: ignored

In [0]:
primes.append(13)

AttributeError: ignored

In [0]:
x = 0.25
print(type(x))
print(x.as_integer_ratio())
print(type(x.as_integer_ratio()))

<class 'float'>
(1, 4)
<class 'tuple'>

In [0]:
def where_are_you_from(city, country):
    return city, country

print(where_are_you_from("Taipei", "Taiwan"))
print(type(where_are_you_from("Taipei", "Taiwan")))

('Taipei', 'Taiwan')
<class 'tuple'>

In [0]:
my_city, my_country = where_are_you_from("Taipei", "Taiwan")
print(my_city)
print(my_country)

Taipei
Taiwan

In [0]:
numerator, denominator = x.as_integer_ratio()
print(numerator)
print(denominator)

1
4

In [0]:
the_avengers = {
    "Iron Man": "Tony Stark",
    "Captain America": "Steve Rogers",
    "Hulk": "Bruce Banner",
    "Thor": "Thor",
    "Black Widow": "Natasha Romanoff",
    "Hawkeye": "Clint Barton"
}

In [0]:
print(type(the_avengers))

<class 'dict'>

In [0]:
print(the_avengers.keys())

dict_keys(['Iron Man', 'Captain America', 'Hulk', 'Thor', 'Black Widow', 'Hawkeye'])

In [0]:
print(the_avengers.values())

dict_values(['Tony Stark', 'Steve Rogers', 'Bruce Banner', 'Thor', 'Natasha Romanoff', 'Clint Barton'])

In [0]:
print(the_avengers.items())

dict_items([('Iron Man', 'Tony Stark'), ('Captain America', 'Steve Rogers'), ('Hulk', 'Bruce Banner'), ('Thor', 'Thor'), ('Black Widow', 'Natasha Romanoff'), ('Hawkeye', 'Clint Barton')])

In [0]:
living_area = input("請輸入您的居住縣市:")
print(living_area)
print("{}的每人每月最低生活費為{:,}".format(living_area, 17005))

請輸入您的居住縣市:Taipei
Taipei
Taipei的每人每月最低生活費為17,005

In [0]:
living_area = input("請輸入您的居住縣市:")
living_cost = None
if living_area == '臺北市':
    living_cost = 17005
elif living_area == '新北市':
    living_cost = 15500
elif living_area == '桃園市':
    living_cost = 15281
elif living_area == '臺中市':
    living_cost = 14596
elif living_area == '臺南市':
    living_cost = 12388
elif living_area == '高雄市':
    living_cost = 13099
elif living_area == '非六都之縣市':
    living_cost = 12388
elif living_area == '金門縣連江縣':
    living_cost = 11648

if living_cost is None:
    print("請重新輸入居住縣市")
else:
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))

請輸入您的居住縣市:臺北市
臺北市的每人每月最低生活費為17,005

In [0]:
print(type(None))

<class 'NoneType'>

In [0]:
living_cost_dict = {
    '臺北市': 17005,
    '新北市': 15500,
    '桃園市': 15281,
    '臺中市': 14596,
    '臺南市': 12388,
    '高雄市': 13099,
    '非六都之縣市': 12388,
    '金門縣連江縣': 11648
}
living_area = input("請輸入您的居住縣市:")
try:
  living_cost = living_cost_dict[living_area]
  print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
except KeyError:
  print("請重新輸入居住縣市")

請輸入您的居住縣市:臺北市
臺北市的每人每月最低生活費為17,005

In [0]:
primes = {2, 3, 5, 7, 11, 13}
print(primes)
print(type(primes))

{2, 3, 5, 7, 11, 13}
<class 'set'>

In [0]:
primes_list = [2, 3, 3, 3, 5, 5]
print(primes_list)

[2, 3, 3, 3, 5, 5]

In [0]:
set(primes_list)

{2, 3, 5}

In [0]:
primes = {2, 3, 5, 7, 11, 13, 13, 13, 11, 11, 11, 11, 2, 2, 2}
print(primes)

{2, 3, 5, 7, 11, 13}

In [0]:
primes = {2, 3, 5, 7, 11, 13}
odds = {1, 3, 5, 7, 9, 11, 13}
print(type(primes))
print(type(odds))

<class 'set'>
<class 'set'>

In [0]:
# 交集
primes & odds

{3, 5, 7, 11, 13}

In [0]:
# .intersection
primes.intersection(odds)

{3, 5, 7, 11, 13}

In [0]:
# 聯集
primes | odds

{1, 2, 3, 5, 7, 9, 11, 13}

In [0]:
# .union
primes.union(odds)

{1, 2, 3, 5, 7, 9, 11, 13}

In [0]:
# 差異
print(primes - odds)
print(odds - primes)

{2}
{1, 9}

In [0]:
# .difference
print(primes.difference(odds))
print(odds.difference(primes))

{2}
{1, 9}

In [0]:
(primes - odds) | (odds - primes)

{1, 2, 9}

In [0]:
# 對稱差異
primes ^ odds

{1, 2, 9}

In [0]:
# .symmetric_difference
print(primes.symmetric_difference(odds))

{1, 2, 9}

In [0]:
primes

{2, 3, 5, 7, 11, 13}

In [0]:
help(iter)

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [0]:
I = iter(primes)
next(I)

2

In [0]:
next(I)

3

In [0]:
next(I)

5

In [0]:
next(I)

7

In [0]:
next(I)
next(I)

13

In [0]:
next(I)

StopIteration: ignored

In [0]:
primes[0]

TypeError: ignored

In [0]:
import requests

today_json = requests.get("https://data.nba.net/10s/prod/v1/today.json").json()
print(type(today_json))

<class 'dict'>

In [0]:
today_json.keys()

dict_keys(['_internal', 'teamSitesOnly', 'seasonScheduleYear', 'showPlayoffsClinch', 'links'])

In [0]:
print(type(today_json['links']))

<class 'dict'>

In [0]:
today_json['links']['leagueRosterPlayers']

'/prod/v1/2019/players.json'

In [0]:
primes_list = [2, 3, 5, 7, 11]
I = iter(primes_list)
next(I)

2

In [0]:
primes_tuple = (2, 3, 5, 7, 11)
I = iter(primes_tuple)
next(I)

2

In [0]:
I = iter(living_cost_dict.keys())
next(I)

'臺北市'

In [0]:
I = iter(living_cost_dict.values())
next(I)

17005

In [0]:
may4th = "Luke, use the Force!"
I = iter(may4th)
next(I)

'L'

In [0]:
I = iter(5566)

TypeError: ignored

In [0]:
I = iter(5566.0)

TypeError: ignored

In [0]:
I = iter(False)

TypeError: ignored

In [0]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [0]:
for i in range(1, 101, 1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [0]:
# iterables in python
prime_list = [2, 3, 5, 7, 11]
prime_tuple = (2, 3, 5, 7, 11)
weekdays_dict = {
    'Monday': 1,
    'Tuesday': 2,
    'Wednesday': 3,
    'Thursday': 4,
    'Friday': 5
}
prime_set = {2, 3, 5, 7, 11}

In [63]:
help(inter)

NameError: ignored

In [67]:
I = iter(prime_tuple)
next(I)

2

In [70]:
I = iter(weekdays_dict)
next(I)

'Monday'

In [72]:
I = iter(weekdays_dict.keys())
next(I)

'Monday'

In [73]:
I = iter(weekdays_dict.values())
next(I)

1

In [74]:
I = iter(weekdays_dict.items())
next(I)

('Monday', 1)

In [75]:
I = iter(prime_set)
next(I)

2

In [2]:
may4th = "Luke, use the Force!"
I = iter(may4th)
next(I)

'L'

In [77]:
for i in may4th:
    print(i)

L
u
k
e
,

u
s
e

t
h
e

F
o
r
c
e
!

In [78]:
may4th[0]
may4th[len(may4th)-1]

'!'

In [4]:
i = 0
while i < len(may4th):
    print(may4th[i])
    i += 1

L
u
k
e
,

u
s
e

t
h
e

F
o
r
c
e
!

In [80]:
 help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [81]:
print(list(range(1, 101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [82]:
print(list(range(0, 100, 2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [83]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
x = int(input("請輸入起始的正整數:"))
y = int(input("請輸入終止的正整數:"))
odds = []
for i in range(x, y+1):
    mod = i % 2
    if mod == 1:
        odds.append(i)
print(odds)

請輸入起始的正整數:13
請輸入終止的正整數:59
[13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59]

In [6]:
print(len(odds)) # 記數
print(sum(odds)) # 加總

24
864

In [7]:
x = int(input("請輸入一個正整數:"))
divisors = []
for i in range(1, x+1):
    if x % i == 0:
        divisors.append(i)
print(divisors)
n_divisors = len(divisors)
if n_divisors == 2:
    print("{}是質數".format(x))
else:
    print("{}不是質數".format(x))

請輸入一個正整數:1
[1]
1不是質數

In [8]:
x = int(input("請輸入一個正整數:"))
divisors = []
for i in range(1, x+1):
    if x % i == 0:
        divisors.append(i)
print(divisors)

請輸入一個正整數:59
[1, 59]

In [84]:
# random 產生 1 個隨機數
import random

random.randint(1, 1000)
# random 產生 100 個隨機數
random_integers = []
for i in range(100):
    rand_int = random.randint(1, 1000)
    random_integers.append(rand_int)
print(random_integers)
print(len(random_integers))
# 找出第一大與第一小的數字
print(max(random_integers))
print(min(random_integers))
# 找出第二大與第二小的數字
rand_int_unique = set(random_integers)
rand_int_unique_list = list(rand_int_unique)
print(rand_int_unique_list)
rand_int_unique_list.sort()
print(rand_int_unique_list[1])  # second min
print(rand_int_unique_list[-2]) # secomd max

[74, 926, 300, 920, 315, 552, 374, 960, 425, 732, 481, 234, 411, 954, 652, 733, 519, 937, 941, 653, 689, 821, 737, 154, 718, 100, 435, 598, 15, 483, 606, 529, 285, 986, 212, 593, 594, 818, 217, 367, 582, 190, 79, 564, 751, 679, 55, 493, 673, 175, 361, 692, 825, 991, 555, 746, 369, 952, 863, 846, 255, 131, 600, 356, 61, 590, 449, 74, 737, 829, 907, 128, 330, 46, 930, 847, 768, 374, 642, 61, 729, 580, 568, 144, 435, 315, 502, 113, 184, 96, 625, 209, 853, 782, 43, 57, 521, 575, 634, 299]
100
991
15
[519, 521, 15, 529, 552, 555, 43, 46, 564, 55, 568, 57, 61, 575, 580, 582, 74, 590, 79, 593, 594, 598, 600, 606, 96, 100, 113, 625, 634, 128, 642, 131, 652, 653, 144, 154, 673, 679, 175, 689, 692, 184, 190, 718, 209, 212, 217, 729, 732, 733, 737, 234, 746, 751, 255, 768, 782, 285, 299, 300, 818, 821, 825, 315, 829, 330, 846, 847, 853, 863, 356, 361, 367, 369, 374, 907, 920, 411, 926, 930, 425, 937, 941, 435, 952, 954, 960, 449, 986, 991, 481, 483, 493, 502]
43
986

In [85]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
squared = []
for i in range(10):
    squared.append(i**2)
print(squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [87]:
squared = [i**2 for i in range(10)]
print(squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [88]:
odds_squared = []
for i in range(10):
    if i % 2 == 1:
        odds_squared.append(i**2)
print(odds_squared)

[1, 9, 25, 49, 81]

In [89]:
odds_squared = [i**2 for i in range(10) if i % 2 == 1]
print(odds_squared)

[1, 9, 25, 49, 81]

In [90]:
random_integers = [random.randint(1, 100) for i in range(20)]
is_odd_ints = []
for i in random_integers:
    if i % 2 == 1:
        is_odd_ints.append(True)
    else:
        is_odd_ints.append(False)
print(random_integers)
print(is_odd_ints)

[38, 27, 60, 3, 35, 33, 20, 93, 26, 44, 83, 72, 40, 43, 40, 76, 85, 9, 50, 35]
[False, True, False, True, True, True, False, True, False, False, True, False, False, True, False, False, True, True, False, True]

In [91]:
random_integers = [random.randint(1, 100) for i in range(20)]
is_odd_ints = [True if i % 2 == 1 else False for i in random_integers]
print(random_integers)
print(is_odd_ints)

[23, 71, 1, 62, 80, 69, 83, 44, 88, 15, 9, 39, 25, 52, 10, 92, 35, 76, 17, 98]
[True, True, True, False, False, True, True, False, False, True, True, True, True, False, False, False, True, False, True, False]

In [92]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable[, start]) -> iterator for index, value of iterable
 |
 |  Return an enumerate object.  iterable must be another object that supports
 |  iteration.  The enumerate object yields pairs containing a count (from
 |  start, which defaults to zero) and a value yielded by the iterable argument.
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.

In [93]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for i, wd in enumerate(weekdays):
    print("{}:星期{}".format(wd, i+1))

Monday:星期1
Tuesday:星期2
Wednesday:星期3
Thursday:星期4
Friday:星期5

In [94]:
avengers = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]
for idx, movie in enumerate(avengers):
    print("第 {} 部上映的復仇者聯盟電影:{}".format(idx+1, movie))

第 1 部上映的復仇者聯盟電影:The Avengers
第 2 部上映的復仇者聯盟電影:Avengers: Age of Ultron
第 3 部上映的復仇者聯盟電影:Avengers: Infinity War
第 4 部上映的復仇者聯盟電影:Avengers: Endgame

In [95]:
years = [2012, 2015, 2018, 2019]
for year, movie in zip(years, avengers):
    print("{}上映的年份是{}".format(movie, year))

The Avengers上映的年份是2012
Avengers: Age of Ultron上映的年份是2015
Avengers: Infinity War上映的年份是2018
Avengers: Endgame上映的年份是2019

In [96]:
import pandas as pd

covid19_ts = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
covid19_ts_tw = covid19_ts[covid19_ts['Country/Region'] == 'Taiwan*']
cumulative_confirmed_tw = list(covid19_ts_tw.loc[:,'1/22/20':'5/21/20'].values.ravel())
dates = list(covid19_ts_tw.loc[:, '1/22/20':'5/21/20'].columns)
print(dates)
print(len(dates))
print(cumulative_confirmed_tw)
print(len(cumulative_confirmed_tw))
# 在這 121 天中，哪些"日期"是零新增確診?

['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20', '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20', '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20', '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20', '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20', '4/15/20', '4/16/20', '4/17/20', '4/18/20', '4/19/20', '4/20/20', '4/21/20', '4/22/20', '4/23/20', '4/24/20', '4/25/20', '4/26/20', '4/27/20', '4/28/20', '4/29/20', '4/30/20', '5/1/20', '5/2/20', '5/3/20', '5/4/20', '5/5/20', '5/6/20', '5/7/20', '5/8/20', '5/9/20', '5/10/20', '5/11/20', '5/12/20', '5/13/20', '5/14/20', '5/15/20', '5/16/20', '5/17/20', '5/18/20', '5/19/20', '5/20/20', '5/21/20']
121
[1, 1, 3, 3, 4, 5, 8, 8, 9, 10, 10, 10, 10, 11, 11, 16, 16, 17, 18, 18, 18, 18, 18, 18, 18, 20, 22, 22, 23, 24, 26, 26, 28, 30, 31, 32, 32, 34, 39, 40, 41, 42, 42, 44, 45, 45, 45, 45, 47, 48, 49, 50, 53, 59, 67, 77, 100, 108, 135, 153, 169, 195, 215, 235, 252, 267, 283, 298, 306, 322, 329, 339, 348, 355, 363, 373, 376, 379, 380, 382, 385, 388, 393, 393, 395, 395, 395, 398, 420, 422, 425, 426, 427, 428, 429, 429, 429, 429, 429, 429, 429, 432, 436, 438, 438, 439, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440]
121

In [97]:
cumulative_confirmed_tw_lag = [cumulative_confirmed_tw[i] for i in range(len(cumulative_confirmed_tw)-1)]
cumulative_confirmed_tw_lag.insert(0, 0)
print(cumulative_confirmed_tw_lag)
print(len(cumulative_confirmed_tw_lag))

[0, 1, 1, 3, 3, 4, 5, 8, 8, 9, 10, 10, 10, 10, 11, 11, 16, 16, 17, 18, 18, 18, 18, 18, 18, 18, 20, 22, 22, 23, 24, 26, 26, 28, 30, 31, 32, 32, 34, 39, 40, 41, 42, 42, 44, 45, 45, 45, 45, 47, 48, 49, 50, 53, 59, 67, 77, 100, 108, 135, 153, 169, 195, 215, 235, 252, 267, 283, 298, 306, 322, 329, 339, 348, 355, 363, 373, 376, 379, 380, 382, 385, 388, 393, 393, 395, 395, 395, 398, 420, 422, 425, 426, 427, 428, 429, 429, 429, 429, 429, 429, 429, 432, 436, 438, 438, 439, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440, 440]
121